<!-- START FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <ul class="social-icons-footer">
                <li><a href="{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="{{ site.github_url }}" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="{{ site.codepen_url }}" target="_blank"><i class="fa fa-codepen"></i></a></li>
            </ul>
            <p>Copyright &copy; 2017 Benjamin Dahl.</p>
        </div>
    </div>
</footer>
<!-- END FOOTER. -->

<!-- START SCROOL ON TOP BUTTON -->
<a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
<!-- END SCROLL ON TOP BUTTON -->



<!-- START PLUGIN JAVASCRIPT -->
<!-- Jquery Js-->
<script src="{{ "assets/js/jquery.js" | relative_url }}"></script>
<!-- Bootstrap Js -->
<script src="{{ "assets/js/bootstrap.min.js" | relative_url }}"></script>
<!-- AOS Js -->
<script src="{{ "assets/js/aos.js" | relative_url }}"></script>
<!-- Particles Js -->
<script src="{{ "assets/js/particles.min.js" | relative_url }}"></script>
<!-- App Js -->
<script src="{{ "assets/js/app.js" | relative_url }}"></script>
<!-- flexslider Js -->
<script src="{{ "assets/js/jquery.flexslider-min.js" | relative_url }}"></script>
<!-- Mixitup Js -->
<script src="{{ "assets/js/jquery.mixitup.js" | relative_url }}"></script>
<!-- Magnific Popup Js -->
<script src="{{ "assets/js/jquery.magnific-popup.min.js" | relative_url }}"></script>
<!-- Magnific Popup Options Js -->
<script src="{{ "assets/js/magnific-popup-options.js" | relative_url }}"></script>
<!-- Jquery Form Js -->
<script src="{{ "assets/js/jquery.form.js" | relative_url }}"></script>
<!-- Jquery Validate Js -->
<script src="{{ "assets/js/jquery.validate.min.js" | relative_url }}"></script>
<!-- Stellar Js -->
<script src="{{ "assets/js/jquery.stellar.min.js" | relative_url }}"></script>
<!-- Typed Js -->
<script src="{{ "assets/js/typed.js" | relative_url }}"></script>
<!-- Match Height Js -->
<script src="{{ "assets/js/jquery.matchHeight-min.js" | relative_url }}"></script>
<!-- Main Js -->
<script src="{{ "assets/js/main.js" | relative_url }}"></script>
<!-- END PLUGIN JAVASCRIPT -->
