<!-- START PRELOADER -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <p>Benjamin Dahl</p>
    </div>
</div>
<!-- END PRELOADER -->

<!-- START NAVIGATION -->
<div id="navigation">
    <div class="container">
        <div class="col-sm-3">
            <div class="logo">
                <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="navigation-menu">
                <div class="navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a class="smoth-scroll" href="{{ "/" | relative_url }}">Back</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Navigation -->