---
layout: default-post
---
<!-- START HEADER -->
<div id="header" class="home-background overlay" style="background-image: url('{{ page.images[0].url | relative_url }}');background-position: top;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading text-center">
                    <h1 class="f-white">{{ page.title | escape }}</h1>
                    <span class="meta">Posted by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> on 
                      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                      {{ page.date | date: date_format }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER -->

<!-- START POST -->
<section id="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
            </div>
        </div>
    </div>
</section>
<!-- END POST -->